<%- include('partials/header'); -%>
<div class="container">
    <div class="row">
        
        <div class="col col-sm-6 d-flex align-content-center flex-wrap">
            <h1 class="display-1 font-weight-bold">Pro Grepper</h1>
            <div class="container">
                <p class="lead">
                    Pro Grepper is a ML Mini project made by Group 12. The project uses multi-class classification to
                    find out a list of companies that may ask the problem given by the user.
                </p>
                <br>
                <p class="lead">
                    The Group Members are:
                </p>
            </div>

            <br>
            <div class="container">
                <ul>
                    <li>Aditya Ambekar 181070004</li>
                    <li>Chinmay Desai 181070014</li>
                    <li>Yash Tailor 181070065</li>
                </ul>
            </div>

        </div>
        <div class="col col-sm-6">
            <img src="/companiesbg.jpg" id="pic" alt="">
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>