<%- include('partials/header'); -%>
<div class="container">
  <div class="row">
    <div class="col col-sm-6">
      <h1 class="display-1 font-weight-bold">Pro Grepper</h1>
      <h2 class="h1 text-primary font-weight-bold">Pushing the dreams to reality!</h1>
        <br>
        <p class="lead">
          We help you grep the companies that might ask the problem and you nailing it!
        </p>
    </div>
    <div class="col col-sm-6">
      <img src="/companiesbg.jpg" id="pic" alt="">
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>