<%- include('partials/header'); -%>
<div class="container">
  <div class="row">
    <div class="col col-sm-6">
      <form action="/signup">
        <h2>Sign up</h2>
        <label for="name">Name</label>
        <input type="text" name="name" required />
        <div class="name error"></div>
        <label for="email">Email</label>
        <input type="email" name="email" required />
        <div class="email error"></div>
        <label for="password">Password</label>
        <input type="password" name="password" required />
        <div class="password error"></div>
        <button type="submit">Sign up</button>
      </form>
    </div>
    <div class="col col-sm-6">
      <img src="/companiesbg.jpg" id="pic" alt="">
    </div>
  </div>
</div>
<%- include('partials/footer'); -%>

<script>
  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');
  const nameError = document.querySelector('.name.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';
    nameError.textContent = '';

    // get values
    const email = form.email.value;
    const password = form.password.value;
    const name = form.name.value;

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        body: JSON.stringify({
          name,
          email,
          password
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
        nameError.textContent = data.errors.name;
      }
      if (data.user) {
        location.assign('/');
      }

    } catch (err) {
      console.log(err);
    }

  });
</script>